/* 
	Pseudo-element

	- ::after in content sau 1 element;

	- ::before in content truwosc 1 element;

	- ::first-letter chọn chữ cái đầu tiên của 1 đoạn và style nó

	- ::first-line chọn dòng đầu tiên và style nó

	- ::selection style cho nó style cho bất kì element đc chọn

	Pseudo-class

	- :active The :active selector is used to select and style the active link.

	- active MUST come after :hover (if present) in the CSS definition in order to be effective!

	- :checked The :checked selector khớp với mọi phần tử <input> đã chọn (chỉ dành cho các nút radio và checkbox) và phần tử <option>.;

	- :disabled chọn mọi element có disabled="disabled";

	- :empty chọn mọi element ko có element bên trong nó;

	- :enabled chọn mọi element không bị disabled;
	
	- :first-child: chọn element là con đầu của element cha;

	- :first-of-type: chọn mọi element đầu tiên là con của element cha (giống với :nth-of-type(1));

	- :focus dùng để chọn element focus (thường là <input>);

	- :hover style khi hover qua 1 element ;

	- :in-range bộ chọn chọn tất cả các phần tử có giá trị nằm trong một phạm vi được chỉ định.;

	- :invalid style cho các input ko hợp lệ (như email ko hợp lệ);

	- :lang() style cho các attibute lang="" bên trong () kia ;

	- :last-of-type: ngược lại với first-of-type(giống với :nth-last-of-type(1));

	- :link style unvisited link;

	- :not(selector) chọn những cái ko bao gồm selector trong ()

	- :nth-child() chọn phần tử con từ thứ 2 trở đi;

	- :nth-last-child: chọn phần tử con cuối cùng;

	- :nth-last-of-type() chọn element là con bắt đầu từ cuối đếm lên;

	- :nth-of-type() chọn từ phần tử thứ hai trở đi;

	- :only-of-type: chọn element là duy nhất có thể là con hoặc cha;

	- :only-child: chọn element con duy nhất;

	- :optional: tùy chọn trong các element input, select and textarea.;

	- :out-of-range: Bộ chọn: out-of-range chọn tất cả các phần tử có giá trị nằm ngoài một phạm vi được chỉ định.  

	- Lưu ý: Bộ chọn: out-of-range chỉ hoạt động với các phần tử đầu vào có thuộc tính min và / hoặc max!  

	- Mẹo: Sử dụng bộ chọn: in-range để chọn tất cả các phần tử có giá trị nằm trong một phạm vi được chỉ định.;

	- :read-only: style cho các input chứa attibute readonly;

	- :read-write style cho các input ko chứa reaonly (input bình thường);

	- :required: style cho các input chứa attibute required;

	- :root Bộ chọn: root khớp với phần tử gốc của tài liệu.  Trong HTML, phần tử gốc luôn là phần tử html. (tương tự như *)

	- :target URL có dấu # theo sau là liên kết tên liên kết đến một phần tử nhất định trong tài liệu.  

	- Phần tử được liên kết với là phần tử đích.  

	- Bộ chọn: target có thể được sử dụng để tạo kiểu cho phần tử mục tiêu đang hoạt động hiện tại.;

	- :valid chọn toàn bộ <input> có value hợp lệ (như email hợp lệ ...);
	
	- :visited: chọn tất cả các link đã visited;

*/