@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
 }

.spinner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
}
.spinner-text {
	font-size: 2em;
	animation: loading-text 2.5s ease-in-out infinite;
}
.spinner-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 15px solid transparent;
	mix-blend-mode: overlay;
}
.spinner-sector-blue {
	border-top: 15px solid lightblue;
	animation: rotate 2s ease-in infinite;
}
.spinner-sector-red {
	animation: rotate 2.5s ease-out infinite;
	border-top: 15px solid lightcoral;
}
.spinner-sector-green {
	animation: rotate 2.5s ease-in-out infinite;
	border-top: 15px solid lightgreen;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes loading-text {
	0% {
		opacity: 1;
	}
	33%, 66% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}