*, ::after, ::before {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
#header {
    background-color: #34465c;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.parent-menu.desktop {
    height: 100%;
    flex: initial;
}
.parent-menu.desktop .list-menu {
    margin-bottom: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.desktop.parent-menu .parent-menu-item {
    color: white;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.1rem;
}
.parent-menu a {
	color: white;
    font-size: 0.95rem !important;
}
.nav-padding {
    padding: 0 3px;
}