*, *::after, *::before {
	padding: 0;
	box-sizing: border-box;
}

#table {
	border: 1.25px solid grey;
	width: 40%;
	height: 150px;
}

.p1, .p2, .p3 {
	text-align: center;
	padding: 10px 0;
}

.p3 button:nth-child(2n) {
	margin: 0 10px;
}
#returnValue {
	text-align: center;
	padding-top: 8px;
}