@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: #8500ff;
    text-align: center;
    font-size: 4rem;
    text-align: center;
    opacity: 0.6;
}

form {
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 100%;
    width: 450px;
}

.input {
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 2rem;
    border: none;
}

.input::placeholder {
    color: #dad8d8;
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}

.todos li.complete {
    text-decoration: line-through;
    color: #a3a3a3;
}

.todos .remove {
    width: 35px;
    height: 35px;
    float: right;
    transform: translate(-10px, -50px);
    border: none;
    cursor: pointer;
    background-color: rgb(235, 53, 21);
    color: white;
    border-radius: 50px;
    transition: background-color 0.25s ease-in-out;
}

.todos .remove:hover {
    background-color: rgb(192, 39, 12)
}

small {
    margin-top: 2rem;
    text-align: center;
    color: #a7a7a7;
}