* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("https://github.com/kubowania/whac-a-mole/blob/master/mole.jpg?raw=true");
	background-size: cover;
}