/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.spinner-1 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.spinner-1::before {
    position: absolute;
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 64px;
    color: #323b40;
    box-shadow: inset -5px 0 0 5px currentColor;
    clip: rect(0, 64px, 32px, 0);
    animation: rotator 1s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(-180deg);
        box-shadow: inset -5px 0 0 5px currentColor;
    }
    50% {
        transform: rotate(0deg);
        box-shadow: inset -1px 0 0 1px currentColor;
    }
    100% {
        transform: rotate(180deg);
        box-shadow: inset -5px 0 0 5px currentColor;
    }
}

.spinner-2 {
    position: relative;
    margin: 32px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #323b40;
}

.spinner-2:before, .spinner-2:after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: inherit;
    content: " ";
}

.spinner-2::before {
    transform: translateX(-120%);
    transform-origin: 32px 50%;
    animation: spinner 1.25s linear infinite;
}
.spinner-2::after {
    transform: translateX(120%);
    transform-origin: -16px 50%;
    animation: spinner-2 1.25s linear infinite;
}

@keyframes spinner {
    0% {
        transform: translateX(-120%) rotate(180deg);
    }
    30% {
        transform: translateX(-120%) rotate(0deg);
    }
    70% {
        transform: translateX(-120%) rotate(0deg);
    }
    100% {
        transform: translateX(-120%) rotate(-180deg);
    }
}

@keyframes spinner-2 {
    0% {
        transform: translateX(120%) rotate(180deg);
    }
    30% {
        transform: translateX(120%) rotate(0deg);
    }
    70% {
        transform: translateX(120%) rotate(0deg);
    }
    100% {
        transform: translateX(120%) rotate(-180deg);
    }
}