h1 {
	text-align: center;
}
p {
	font-size: 18px;
	text-align: center;
	border: solid;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}
img {
	border: solid blue;
	margin-left: auto;
	margin-right: auto;
	padding: auto blue;
}
