@import url('https://fonts.googleapis.com/css?family=Raleway:900');

* {
	font-family: Raleway;
}

html {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-image: url('https://raw.githubusercontent.com/WebDevSimplified/css-challenges/master/Animated%20Text%20Reveal/background.jpg');
	background-size: cover;
}


.reveal-text {
	font-size: 7em;
	font-weight: 900;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: url("https://raw.githubusercontent.com/WebDevSimplified/css-challenges/master/Animated%20Text%20Reveal/reveal_background.jpg");
	background-repeat: repeat-x;
	animation: reveal-background 3s infinite;
}

@keyframes reveal-background {
	0% {
		background-size: 0px;
		background-position-y: 0%;
	}
	10% {
		background-size: 30px;
		background-position-y: 0%;
	}
	35%, 45% {
		background-position-y: 100%;
	}
	70% {
		background-size: 30px;
		background-position-y: 0%;
	}
	100% {
		background-size: 300px;
	}
}