*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    transition: background-color 0.15s ease-in-out;
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.equal {
    grid-column: span 3;
}

button.btn-clear-all {
    background-color: rgb(252, 165, 44);
    transition:  background-color 0.15s ease-in-out;
    grid-column: span 2;
}

button.btn-clear-all:hover {
    background-color: rgb(255, 140, 0);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-text {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-text {
    color: white;
    font-size: 2.5rem;
}